body {
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  backdrop-filter: blur(4px);
  
}
p{
  font-size: 17px;
  text-align: center;
  
}
.img__fondo{ 
  width: 50px;
  background: transparent;
  color:white;
  top: 80%;
  left: 20%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0px 30px;
  font-size: 50px;
}

.img__fondo1{ 
  width: 50px;
  background: transparent;
  color: rgb(255, 255, 255);
  top: 80%;
  left: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  font-size: 50px;
}
 
.login-box {
  width: 300px;
  height: 600px;
  background: transparent;
  color: #fff;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 70px 0 20px;
  text-align: center;
  font-size: 17px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 0px;
}
.txt__banner{
  font-size: 20px;
}
.texto{ 
  width: 300px;
  color: white;
  font-weight: bold;
  top: 90%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 15px 30px;
  font-size: 12px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: 1px solid rgb(2, 2, 2);
  background: white;
  height: 40px;
  color: #fff;
  font-size: 17px;
  border-radius: 50px;
  padding: 0px 20px;
  width: 200px;
  left: 10%;
}

.login-box input[type="submit"] {
  border: 1px solid #000;
  outline: none;
  height: 40px;
  background: rgb(42, 119, 42);
  color: #fff;
  font-size: 17px;
  border-radius: 50px;
}
a.olvidosupass{
  font-size: 10px;
}
.login-box input[type="button"] {
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  height: 40px;
  background: transparent;
  color: #fff;
  font-size: 17px;
  border-radius: 50px;
}
.select-registro{
  width: 240px;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  height: 40px;
  background: #fff;
  color: rgb(158, 158, 158);
  font-size: 17px;
  border-radius: 50px;

}
a.olvidosupass{
  font-size: 10px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: blue;
  color: #fff;
}

.login-box a {
  text-decoration: none;
  font-size: 17px;
  line-height: 5px;
  color: #fff;
}

.login-box a:hover {
  color: #fff;
}

@media (min-width: 380px) {
 
  .login-box {
    width: 320px;
    height: 490px;
    background: rgb(37, 35, 35);
    color: #fff;
    top: 46%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
  }
  
.select-registro{
  width: 260px;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  height: 40px;
  background: transparent;
  color: rgb(158, 158, 158);
  font-size: 17px;
  border-radius: 50px;

}
  .login-box .avatar {
    top: -10%;
    }
    .texto{
      width: 420px;
      font-size: 15px;
    }

  .login-box input[type="text"], .login-box input[type="password"] {
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: 0px 20px;
    width: 215px;
    left: 10%;
  }
  .login-box h1 {
    padding: 20px 0 20px;
  }
  
  .login-box input[type="submit"] {
    border: 1px solid #000;
    outline: none;
    height: 40px;
    background: rgb(42, 119, 42);
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
  
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: blue;
    color: #fff;
  }
  }
  @media (min-width: 1200px) {
    body {
      background: url(img/tesh.png) no-repeat center top;
    }
    p{
      font-size: 14px;
      text-align: center;
      
    }
    .img__fondo{ 
      width: 200px;
      background: transparent;
      color: #fff;
      top: 0%;
      left: -100%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
      font-size: 50px;
    }
    .img__fondo1{ 
      width: 200px;
      background: transparent;
      color: #fff;
      top: 0%;
      left: 200%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
      font-size: 50px;
    }
     
    .login-box {
      width: 320px;
      height: 440px;
      }
    
    
    .login-box h1 {
      margin: 0;
      padding: 10px 0 20px;
      text-align: center;
      font-size: 12px;
    }
    
    .login-box input {
      width: 100%;
      margin-bottom: 5px;
    }
    .texto{ 
      width: 800px;
      font-size: 17px;
    }
    
    .login-box input[type="text"], .login-box input[type="password"] {
      border: 2px solid rgb(179, 179, 179);
      background: transparent;
      height: 40px;
      color: #fff;
      font-size: 16px;
      border-radius: 20px;
      padding: 0px 10px;
      width: 240px;
      left: 10%;
    }
  }

  